@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
}

header {
  width: 100%;
  background-color: #2e3192;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.logo-imagem img {
  width: 150px;
  margin: 10px;
  margin-right: 100px;
  vertical-align: middle;
}

.logo-texto h1 {
  margin-left: 50px;
  color: #fff;
}

p {
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #2e3192;
  font-weight: bold;
  font-size: 16px;
}
.container-logo {
  display: flex;
  align-items: center;
}

.logo-texto {
  margin-left: 100px;
  color: white;
  margin: 0 auto;
  margin-right: 300px;
}
.icons button {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(35deg, #2e3192, #cdcecf);
  border: none;
  margin-right: 5px;
  border-radius: 8px;
  cursor: pointer;
}
.icons button a i {
  font-size: 20px;
  color: #fff;
}

.container-pdf {
  display: flex;
  align-items: flex-start;
  vertical-align: middle;
  margin: 5px;
  padding: 0;
  text-align: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.pdf {
  margin: 10px;
  align-items: center;
  display: inline-block;
  width: 250px;
  text-align: center;
}

.pdf a {
  font-size: 15px;
  text-align: center;
  display: block;
  width: 250px;
}
.pdf img {
  width: 265px;
  height: 370px;
  margin: 10px;
  border: 1px solid #cdcecf;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  text-align: center;
}
.copyright p {
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
  padding: 0 auto;
  font-weight: normal;
  text-align: center;
  width: 100%;
}
